/.idea/*

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools

/plugins/*/*/language/en-GB
plugins/akeebadebug/systeminfo/systeminfo.xml
plugins/akeebadebug/systeminfo/version.php

release/*